<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Work experience</title>
</head>
<body>
  <div>
    <div class="experience_title">
      <h3>Work experience</h3>
    </div>
      <ul *ngFor="let item of [1,2,3,4,5,6,7]" class="experience_work">
        <li class="experience_list">
          <div class="experience_top">
            <p class="experience_top_name">Junior Web Developer</p>
            <p class="experience_top_time">Full Time</p>
          </div>
          <div class="experience_bottom">
            <div class="experience_bottom_div">
              <div>
                <i></i>
                <p>Najot talim</p>
              </div>
              <p>Tashkent</p>
            </div>
            <p class="desc">Time along</p>
          </div>
          <hr>
        </li>
      </ul>
    </div>
  </body>
</html>
