.certificate_title{
  color: blue;
  font-size: 36px;
}

.certificate{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 800px;
  margin-bottom: 10px;
}

.certficate_links{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.certficate_desc{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
}
