<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
    <header class="header">
      <div>
        <p>Logo</p>
      </div>
      <div class="header_navbar_pages">
        <a class="header_navbar_page" href="#">Home</a>
        <a class="header_navbar_page" href="#">About</a>
        <a class="header_navbar_page" href="#">Tech Stack</a>
        <a class="header_navbar_page" href="#">Projects</a>
        <a class="header_navbar_page" href="#">Contact</a>
        <a class="header_navbar_page" href="#">CV</a>
      </div>
      <div class="header_navbar_socials">
        <a href="#" class="header_navbar_socials_element">
          <img width="40" src="../assets/Images/github.svg" alt="github">
        </a>
        <a href="#" class="header_navbar_socials_element">
          <img width="40" src="../assets/Images/linkedin.svg" alt="linkedin">
        </a>
        <a href="#" class="header_navbar_socials_element">
          <img width="40" src="../assets/Images/telegram.svg" alt="telegram">
        </a>
      </div>
    </header>
</body>
</html>
