
.header {
  position: fixed;
  width: 1300px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 150px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

.header_navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 750px;
  height: 30px;
}

.header_logo{
  width: 100px;
  height: 60px;
  color: rgb(105, 102, 102);
  text-align: center;
  margin: 30px;
}

.header_navbar_pages{
  display: flex;
  gap: 50px;
}
.header_navbar_pages a{
  text-decoration: none;
  color: red;
}
.cv_button{
  width: 6%;
  color: black;
  background-color: blue;
  border-radius: 40%;
}

.header_navbar_socials {
  display: flex;
  justify-content: space-between;
  width: 12%;
}

.header_navbar_socials_element{
  display: flex;
  justify-content: space-between;
  width: 60%;
  height: 60%;
}
