.contact{
  width: 1300px;
  text-align: center;
}

.contact_text{
  color: blue;
  font-size: 36px;
  font-weight: 900;
}

.contact_cv_button_text{
  font-size: 24px;
  font-weight: 600;
  color: black;
}

.contact_cv_download_button{
  padding: 5px;
  border-radius: 5%;
}

.contact_types li{
  list-style: none;
}

