<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
</head>
<body>
  <div class="divv">
    <div class="contact">
      <div class="contact_text">
        <p>For any questions please contacts us:</p>
      </div>
      <div class="contact_types">
        <ul *ngFor="let item of getUser()">
          <li class="contact_type_name">type: <a href="#" class="contact_type_link">{{item.email}}</a></li>
        </ul>
      </div>
      <p class="contact_cv_button_text">Download my CV to know more about me</p>
        <button class="contact_cv_download_button">Download CV</button>
    </div>
  </div>
</body>
</html>
