<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
</head>
<body>
  <div class="contact">
    <div class="contact_text">
      <h1>For any questions please contacts us:</h1>
    </div>
    <div class="contact_types">
      <ul>
        <li class="contact_type_name">email: <a href="#" class="contact_type_link">name</a></li>
      </ul>
      <ul>
        <li class="contact_type_name">telegram: <a href="#" class="contact_type_link">name</a></li>
      </ul>
      <ul>
        <li class="contact_type_name">linkedin: <a href="#" class="contact_type_link">name</a></li>
      </ul>
    </div>
    <div class="contact_cv">
      <p class="contact_cv_button_text">Download my CV to know more about me</p>
      <button class="contact_cv_download_button">Download CV</button>
    </div>
  </div>
</body>
</html>
