<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="main_page">
    <p class="main_page_desc">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repudiandae eius quidem eos impedit cum nobis at sapiente ipsum delectus non mollitia cupiditate libero, similique aperiam pariatur corporis nisi alias nam.</p>
    <div class="main_page_user_image">
      <img class="main_page_user_image_img" src="../assets/Images/mypicture.JPG" alt="Picture of the user">
    </div>
  </div>
</body>
</html>
