
.main_page{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 100px;
}
.main_page_user_image_img{
  width: 300px;
  border-radius: 100%;
}
.main_page_desc{
  width: 600px;
  font-size: 22px;
}
