<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Projects</title>
</head>
<body>
  <div class="project">
    <div class="project_title">
      <div class="project_main_title">
        <h3>My Projects</h3>
      </div>
      <div class="project_main_text">
        <p>Things I’ve built so far</p>
      </div>
    </div>
    <div class="project_list">
      <ul>
        <li>
          <img src="" alt="project_image">
          <h5 class="project_name">Project name</h5>
          <p class="project_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, beatae sapiente labore dolorem commodi asperiores nesciunt modi, delectus eveniet, rem odit provident officiis numquam repellat similique! Voluptas vitae velit architecto.</p>
          <p class="project_tech_skills">teck stacks: jdn, ajd, jdj, adj</p>
          <a href="#" class="project_view_site">view site</a>
          <a href="#" class="project_view_code">view code</a>
        </li>
        <li>
          <img src="" alt="project_image">
          <h5 class="project_name">Project name</h5>
          <p class="project_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, beatae sapiente labore dolorem commodi asperiores nesciunt modi, delectus eveniet, rem odit provident officiis numquam repellat similique! Voluptas vitae velit architecto.</p>
          <p class="project_tech_skills">teck stacks: jdn, ajd, jdj, adj</p>
          <a href="#" class="project_view_site">view site</a>
          <a href="#" class="project_view_code">view code</a>
        </li>
        <li>
          <img src="" alt="project_image">
          <h5 class="project_name">Project name</h5>
          <p class="project_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, beatae sapiente labore dolorem commodi asperiores nesciunt modi, delectus eveniet, rem odit provident officiis numquam repellat similique! Voluptas vitae velit architecto.</p>
          <p class="project_tech_skills">teck stacks: jdn, ajd, jdj, adj</p>
          <a href="#" class="project_view_site">view site</a>
          <a href="#" class="project_view_code">view code</a>
        </li>
        <li>
          <img src="" alt="project_image">
          <h5 class="project_name">Project name</h5>
          <p class="project_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, beatae sapiente labore dolorem commodi asperiores nesciunt modi, delectus eveniet, rem odit provident officiis numquam repellat similique! Voluptas vitae velit architecto.</p>
          <p class="project_tech_skills">teck stacks: jdn, ajd, jdj, adj</p>
          <a href="#" class="project_view_site">view site</a>
          <a href="#" class="project_view_code">view code</a>
        </li>
        <li>
          <img src="" alt="project_image">
          <h5 class="project_name">Project name</h5>
          <p class="project_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, beatae sapiente labore dolorem commodi asperiores nesciunt modi, delectus eveniet, rem odit provident officiis numquam repellat similique! Voluptas vitae velit architecto.</p>
          <p class="project_tech_skills">teck stacks: jdn, ajd, jdj, adj</p>
          <a href="#" class="project_view_site">view site</a>
          <a href="#" class="project_view_code">view code</a>
        </li>
        <li>
          <img src="" alt="project_image">
          <h5 class="project_name">Project name</h5>
          <p class="project_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, beatae sapiente labore dolorem commodi asperiores nesciunt modi, delectus eveniet, rem odit provident officiis numquam repellat similique! Voluptas vitae velit architecto.</p>
          <p class="project_tech_skills">teck stacks: jdn, ajd, jdj, adj</p>
          <a href="#" class="project_view_site">view site</a>
          <a href="#" class="project_view_code">view code</a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
