<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About me</title>
</head>
<body>
  <div class="about container">
      <h2 class="about_title">About me</h2>
      <p class="about_desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident, magnam totam, ratione adipisci ducimus fugit illum distinctio ipsa odit, voluptas facilis minus id voluptates omnis dolorem in! Rerum, magnam iste!</p>
  </div>
</body>
</html>
