
.education{
  list-style: none;
  padding: 0;
  margin: 0;
  width: 800px;
  margin-bottom: 20px;
}

.education_title{
  color: blue;
  font-size: 36px;
}

.education_top_name{
  font-size: 24px;
  margin: 0;
}

.education_bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.education_bottom p{
  font-size: 20px;
  margin: 0;
}
