<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Educations</title>
</head>
<body>
  <div>
    <div class="education_title">
      <h3>Educations</h3>
    </div>
      <ul *ngFor="let item of [1, 2, 3]" class="education">
        <li>
          <p class="education_top_name">Junior Web Developer{{item}}</p>
          <div class="education_bottom">
            <p>Najot talim</p>
            <p class="desc">Time along</p>
          </div>
          <hr>
        </li>
      </ul>
  </div>
</body>
</html>
