<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stacks</title>
</head>
<body>
  <h2>My Tech Stack</h2>
  <p>Lorem ipsum dolor sit amet.</p>
  <div class="stack_wrap">
    <div class="stack_img">
      <img width="80" src="../assets/Images/github.svg" alt="">
      <p>java script</p>
    </div>
    <div class="stack_img">
      <img width="80" src="../assets/Images/github.svg" alt="">
      <p>java script</p>
    </div>
    <div class="stack_img">
      <img width="80" src="../assets/Images/github.svg" alt="">
      <p>java script</p>
    </div>
    <div class="stack_img">
      <img width="80" src="../assets/Images/github.svg" alt="">
      <p>java script</p>
    </div>
    <div class="stack_img">
      <img width="80" src="../assets/Images/github.svg" alt="">
      <p>java script</p>
    </div>
    <div class="stack_img">
      <img width="80" src="../assets/Images/github.svg" alt="">
      <p>java script</p>
    </div>
    <div class="stack_img">
      <img width="80" src="../assets/Images/github.svg" alt="">
      <p>java script</p>
    </div>
    <div class="stack_img">
      <img width="80" src="../assets/Images/github.svg" alt="">
      <p>java script</p>
    </div>
    <div class="stack_img">
      <img width="80" src="../assets/Images/github.svg" alt="">
      <p>java script</p>
    </div>
    <div class="stack_img">
      <img width="80" src="../assets/Images/github.svg" alt="">
      <p>java script</p>
    </div>
    <div class="stack_img">
      <img width="80" src="../assets/Images/github.svg" alt="">
      <p>java script</p>
    </div>
    <div class="stack_img">
      <img width="80" src="../assets/Images/github.svg" alt="">
      <p>java script</p>
    </div>

  </div>
</body>
</html>
