<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stacks</title>
</head>
<body>
  <div class="stack">
    <div class="stack_title">
      <div class="stack_main_title">
        <h3>My tech stacks</h3>
      </div>
      <div class="stack_main_text">
        <p>Technologies I’ve been working with recently</p>
      </div>
    </div>
    <div class="stack_list">
      <ul>
        <li>
          <p>stack1</p>
          <img src="" alt="stack_image">
        </li>
        <li>
          <p>stack2</p>
          <img src="" alt="stack_image">
        </li>
        <li>
          <p>stack3</p>
          <img src="" alt="stack_image">
        </li>
        <li>
          <p>stack4</p>
          <img src="" alt="stack_image">
        </li>
        <li>
          <p>stack5</p>
          <img src="" alt="stack_image">
        </li>
      </ul>
    </div>
  </div>
</body>
</html>
