<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
</head>
<body>
  <footer class="footer">
    <div class="footer_logo">
      <h4>Logo</h4>
    </div>
    <div class="footer_contacts">
      <a href="#">phone number</a>
      <a href="#">email address</a>
    </div>
    <div class="footer_socials">
      <a href="#" class="footer_socials_element">
        <img src="../assets/Images/github.svg" alt="github">
      </a>
      <a href="#" class="footer_socials_element">
        <img src="../assets/Images/linkedin.svg" alt="linkedin">
      </a>
      <a href="#" class="footer_socials_element">
        <img src="../assets/Images/telegram.svg" alt="telegram">
      </a>
     </div>
  </footer>
</body>
</html>
